.photo {
	position: relative;
	height: 300px;
	display: block;
    margin: 0 auto;
}
	
.subsection-header{
	border-bottom: thin solid;
	border-bottom-color: darkcyan;
	margin-bottom: 10px;
}
	
.diagram{
	width:100%;	
}
	
.sub-section{
		
}

.sub-2-section{
}
	
.each-section{
	border-bottom-style: solid;
	border-bottom-width: 10px;
	border-bottom-color: darkcyan;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	margin-bottom: 50px;
}

.cols{
	column-count:2;
}

.col1{
	width:30%;
	float:left;
}

.col1 h3{
	text-align:center;
}

.col2{
	width:70%;
	float:right;
}

.ind{
	margin-top:50px;
}

.lnk-section{
	margin-top:50px;
}